@{ 
    Layout = null;
}

<h1>@ViewBag.title</h1>

<h3>@ViewBag.description</h3>

<p>@Html.Raw(ViewBag.testString)</p>

<ul>
    @foreach (var charater in ViewBag.characters) { 
        <li>
            @charater 
        </li>
    }
</ul>

